.u-section-1 .u-sheet-1 {
  min-height: 1447px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 1333px;
  width: 1257px;
  height: auto;
  margin: 114px -58px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-menu-1 {
  margin: 13px -197px 0 auto;
}

.u-section-1 .u-nav-1 {
  margin-left: 0;
  margin-right: 277px;
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -12px auto 0 21px;
}

.u-section-1 .u-btn-1 {
  margin: -38px 570px 0 auto;
  padding: 0 12px 0 11px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 26px auto 0 86px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -34px auto 0 86px;
}

.u-section-1 .u-image-1 {
  width: 417px;
  height: 240px;
  margin: -869px 377px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1691px;
    width: 1011px;
    margin-left: -35px;
    margin-right: -35px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -25px;
    margin-right: 306px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -31px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1048px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 1333px;
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -12px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4083px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 196px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1595px;
}

.u-section-2 .u-shape-1 {
  height: 1593px;
  background-image: none;
  width: 1252px;
  margin: 1px -56px 0;
}

.u-section-2 .u-text-1 {
  margin: -1561px 0 0;
}

.u-section-2 .u-menu-1 {
  margin: -1510px 36px 1530px auto;
}

.u-section-2 .u-nav-1 {
  margin-left: 0;
  margin-right: auto;
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-2 .u-nav-2 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1699px;
  }

  .u-section-2 .u-shape-1 {
    height: 1698px;
    width: 1005px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -1666px;
    margin-right: 11px;
    margin-left: 23px;
  }

  .u-section-2 .u-menu-1 {
    width: auto;
    margin-top: -1646px;
    margin-right: 11px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-menu-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2288px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3310px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 4176px;
}

.u-section-3 .u-group-1 {
  width: 1250px;
  min-height: 4175px;
  margin: 1px -55px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 25px 0 37px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -4090px 449px 0 542px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -49px 268px 0 auto;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -49px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4602px;
  }

  .u-section-3 .u-group-1 {
    min-height: 4602px;
    width: 998px;
    margin-left: -29px;
    margin-right: -29px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -4558px;
    margin-right: 270px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 26px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -124px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4176px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}